<div class="row-fluid">
    <h3 class="header-container">{{ title }}</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <div *ngIf="successMessage && !fileUploadForm.touched" class="alert alert-success">
                {{ successMessage }}
            </div>

            <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

                <div class="form-group">
                    <input type="file" class="form-control" (change)="onFileChange($event)" #transactionsFileInput />
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="fileUploadForm.invalid">Upload</button>
            </form>
        </div>
    </div>
</div>